/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

pre {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

#loginbutton{
  display: block;
height:300px;
width:300px;
color:#000;
}

#loginbutton a{
    width: 200px;
    height: 200px;
    background-color: #000;
}

#loginbutton li{
  list-style: none;
  text-align: center;
}

#loginbutton .pure-menu-link{
      white-space: unset !important;
      color:#FFF;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.add_proof{
  float:none;
    clear: both;
    margin-top: 30px;
    display: block;
}



html, body, .app {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}

.popup_inner img{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0px;
    width: 100px; 
}

.popup_inner h1,.popup_inner p{
    text-align: center;
}


.buttonProof{
  margin-bottom:20px;
}

.tagsearch{
    width: 150px;
    font-size: small;
    word-wrap: break-word;  
}

.tagsearch:first-of-type { 
    display:none;
}

.verify_proof .gallery{
  float:none;
}

.addtag{
      margin-left: 50px;
}

.hashproof{
      font-size: small;
    word-wrap: break-word;
    width: 150px;
    text-align: center;
    margin-left: 15px;
}
